<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">    
</head>
<body>
    <a class="btn btn-outline-success float-right" data-toggle="tooltip" data-placement="top" title="Add user" href="/add_user"><i class="fas fa-user-plus"></i></a>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">User Id</th>
      <th scope="col">User Name</th>
      <th scope="col">User Address</th>
      <th scope="col">User Mobile</th>
      <th scope="col">User Age</th>
      <th scope="col">User Gender</th>
      {{!-- <th scope="col">User Salary</th> --}}
      <th id="action">Actions</th>
    </tr>
  </thead>
  <tbody>
      {{#each result}}
    <tr>
      <td>{{user_id}}</td>
      <td>{{user_name}}</td> 
      <td>{{user_address}}</td>
      <td>{{user_mobile}}</td>
      <td>{{user_age}}</td>
      <td>{{user_gender}}</td>
      {{!-- <td>{{user_salary}}</td> --}}
      <td>
          <a class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Delete user" href="/delete_user/{{user_id}}"><i class="fas fa-trash"></i></a>
          <a class="btn btn-outline-info" data-toggle="tooltip" data-placement="top" title="Update user"href="/update_user/{{user_id}}"><i class="fas fa-edit"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>


</body>
</html>